#articles{
    background: #0A172A;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
.articles-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles-header h2{
    color: #fff;
}
#articles .three-col-row{
    margin-top: 60px;
}
.article{
    width: 30%;
    position: relative;
}
.article figure{
    display: block;
}
.article-text{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
}
.article-text a{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
}
.article-text p{
    margin-top: 0px;
    font-size: 13px;
    color: #f2f2f2;
}
.article:hover .article-text{
    display: none;
}
.new-article{
    font-size: 10px;
    background-color: #33ce96 ;
    border: none;
    border-radius: 20px;
    padding: 2px 15px;
    color: rgb(32, 8, 119);
    margin-bottom: 10px;
}
@media screen and (max-width:950px){
    #articles .three-col-row{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #articles .article{
        flex: 40%;
        margin: 10px;
    }
}
@media screen and (max-width:630px){
    #articles .articles-header{
        flex-direction: column;
        align-items: flex-start;
    }
    #articles .three-col-row{
        flex-direction: column;
    }
    #articles .article{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    #articles .article figure{

        border-radius: 5px;
    }
    #articles .article:nth-child(2) figure{
        height: 200px;
    }
    #articles .article:last-child figure{
        height: 200px;
    }

}
@media screen and (max-width:400px){
    #articles .article a{
        font-size: 18px;
    }
    #articles .article:nth-child(2) figure{
        height: 150px;
    }
    #articles .article:last-child figure{
        height: 150px;
    }
}