.main{
    height: 80vh;

}
/* .bg-img{
    width: 100%;
    height: 800px;
    background-image: url(../images/desktop-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */