.featured-projects{
    padding-top: 15%;
    padding-left: 10%;
}
/* .featured-projects{
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.719);
} */
.featured-projects p {
    max-width: 350px;
    width: 90%;
    color: rgba(0, 0, 0, 0.719);
    padding-bottom: 30px;
}
/* ul is .projects-list */
.featured-projects > .projects-list{
    border-top: 1px solid rgba(0, 0, 0, 0.438);
    padding-top: 40px;
    max-width: 420px;
    width: 90%;
}
.projects-list li{
    border: 1px solid rgba(10, 23, 42, 0.76);
    border-radius: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.projects-list a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    padding: 10px;
    color: rgb(7, 30, 59);
}
.projects-list i {
    font-size: 8px;
    color: #33ce96;
    margin-right: 10px;
}
.projects-list li.disabled{
    background-color: #f5f5f5;
    border: 1px solid #fff;
}
.projects-list li.disabled a{
    color: rgb(158, 158, 158);

}
.projects-list li.disabled i{
    color: rgb(192, 192, 192);
}
.projects-list li:hover{
    border: 1px solid rgba(10, 23, 42, 0.76);
    transition: .3s ease-in;
    background: #fff;
}
.projects-list li:hover a{
    color: rgb(7, 30, 59);
}

.projects-list li:hover i{
    color: #33ce96;
}

@media screen and (max-width:950px){
    .featured-projects{
        padding: 80px 0;
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }
    #projects .two-column-row{
        flex-direction: column;
        align-items: center;
    }

    

}
@media screen and (max-width:500px){
    .featured-projects > .projects-list {
        width: 100%;
        margin: 0 auto;
    }
    #projects .column-50:last-child{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    #projects figure{
        border-radius: 10px;
    }
    #projects figure{
        -webkit-box-shadow: 0px 8px 7px -7px rgba(0,0,0,0.44); 
box-shadow: 0px 8px 7px -7px rgba(0,0,0,0.44);
    }
}