*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
p{
  color: #BEE0F4;
  line-height: 25px;
  margin-top: 20px;
}
h1{
  font-weight: 800;
  font-size: 45px;
}
h2{
  font-weight: 700;
}
h3{
  font-weight: 700;
  font-size: 15px;
}
h4{
  font-weight: 700;
  font-size: 13px;
}
h5{
  font-weight: 700;
  color: #33CE96;
}
ul{
  list-style-type: none;
}
.vertical-gradient{
  width: 100%;
  background: rgb(10,23,42);
  background: -moz-linear-gradient(0deg, rgba(10,23,42,1) 0%, rgba(34,112,125,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(10,23,42,1) 0%, rgba(34,112,125,1) 100%);
  background: linear-gradient(0deg, rgba(10,23,42,1) 0%, rgba(34,112,125,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a172a",endColorstr="#22707d",GradientType=1);
}
.logo{
  width: 200px;
}
.logo img{
  width: 100%;
}
/* full-90 will occupy 100% width and 10% padding on both sides */
.full-90{
  width: 100%;
  padding: 0 5%;
}
/* Gradient Buttons */
.gradient-btn{
  display: inline-block;
  margin-top: 30px;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 50px;
  background: rgb(24,61,162);
  background: -moz-linear-gradient(90deg, rgba(24,61,162,1) 0%, rgba(13,209,141,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(24,61,162,1) 0%, rgba(13,209,141,1) 100%);
  background: linear-gradient(90deg, rgba(24,61,162,1) 0%, rgba(13,209,141,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#183da2",endColorstr="#0dd18d",GradientType=1);
}
.blue-btn{
  display: inline-block;
  background-color: #1584d5;
  margin-top: 30px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  text-align: center;
}

/* General Styles */
.two-column-row{
  display: flex;
  justify-content: space-between;
}
.column-50{
  width: 100%;
}
.column-img{
  width: 100%;
  opacity: 0;
}
.column-img.fade-in{
  opacity: 1;
  transition:  .2s ease-in-out;
}
figure{
  width: 100%;
  cursor: pointer;
  display: block;
}

.column-img img {
    width: 100%;
    display: block;
}
.column-50 figure {
  display: block;
    width: 100%;
    cursor: pointer;
}

.column-50 figure img{
  display: block;
}
figcaption a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.column-img img{
  width: 100%;
  display: block;
}


/* Three Column Row*/
.three-col-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
}
.card-icon{
  height: 40px;

}
.card-icon img{
  height: 100%;
  display: block;
}
/* @media screen and (max-width: 950px){

} */